  <div class="uk-margin-medium-top">
    <div class="uk-container uk-margin-small-top uk-width-1-1@l">
        <ul id="tab01" class="uk-child-width-expand" uk-tab>
            <li class="uk-active"><a href="#">すべて</a></li>
            <li><a href="#">送信</a></li>
            <li><a href="#">受信</a></li>
        </ul>
    </div>

    <div>
      <ul id="tab02" class="uk-child-width-expand" uk-tab>
        <li class="uk-active"><a href="#">すべて</a></li>
        <li><a href="#">高情報</a></li>
        <li><a href="#">低情報</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <div class="uk-container uk-margin-small-top uk-width-1-1@l">
            <div class="aomd-card">
              <p>高情報信号（破損率XX％）</p>
              <p>件名：</p>
              <p>配信者：</p>
              <p>場所：</p>
              <p>内容：aaaa</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-container uk-margin-small-top uk-width-1-1@l">
            <div class="aomd-card">
              <p>高情報信号（破損率XX％）</p>
              <p>件名：</p>
              <p>配信者：</p>
              <p>場所：</p>
              <p>内容：bbb</p>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-container uk-margin-small-top uk-width-1-1@l">
            <div class="aomd-card">
              <p>低情報信号（破損率XX％）</p>
              <p>件名：</p>
              <p>配信者：</p>
              <p>場所：</p>
              <p>内容：aaaa</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>