<h1 class="uk-heading-line uk-text-center"><span>Credit</span></h1>
<h2 class="uk-heading-line"><span>Game System</span></h2>
<div class="uk-card uk-card-small uk-card-default">
  <dl class="uk-description-list">
    <dt>ゲームデザイン</dt>
    <dd>蒸気流工房</dd>
    <dt>世界観設定</dt>
    <dd>てんなな</dd>
    <dt>開発・運営</dt>
    <dd>蒸気流工房</dd>
    <dt>タイトルロゴ</dt>
    <dd><a href="https://twitter.com/okadaerkex">okadaerk</a></dd>
  </dl>
</div>
<h2 class="uk-heading-line"><span>UiKit Icons</span></h2>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">
    <span uk-icon="icon: file-edit; ratio: 2"></span>
    <span uk-icon="icon: trash; ratio: 2"></span>
    <span uk-icon="icon: lifesaver; ratio: 2"></span>
    <span uk-icon="icon: clock; ratio: 2"></span>
  </div>
  <div class="uk-card-footer">
    <a href="https://opensource.org/licenses/MIT">MIT LICENSE</a>
  </div>
</div>

<h2 class="uk-heading-line"><span>Game Icons</span></h2>
<p>
  All <a href="https://game-icons.net/">game-icons.net</a> icon under
  <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
</p>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">
    <span class="game-icon game-icon-harbor-dock"></span>
    <span class="game-icon game-icon-factory-arm"></span>
    <span class="game-icon game-icon-sleeping-bag"></span>
    <span class="game-icon game-icon-rocking-chair"></span>
    <span class="game-icon game-icon-ship-wheel"></span>
    <span class="game-icon game-icon-figurehead"></span>
    <span class="game-icon game-icon-entry-door"></span>
    <span class="game-icon game-icon-conqueror"></span>
    <span class="game-icon game-icon-public-speaker"></span>
    <span class="game-icon game-icon-newspaper"></span>
    <span class="game-icon game-icon-rule-book"></span>
    <span class="game-icon game-icon-earth-asia-oceania"></span>
    <span class="game-icon game-icon-captain-hat-profile"></span>
    <span class="game-icon game-icon-scroll-quill"></span>
    <span class="game-icon game-icon-solar-system"></span>
    <span class="game-icon game-icon-archive-register"></span>
    <span class="game-icon game-icon-satellite-communication"></span>
    <span class="game-icon game-icon-id-card"></span>
    <span class="game-icon game-icon-exit-door"></span>
    <span class="game-icon game-icon-alarm-clock"></span>
  </div>
  <div class="uk-card-footer">
    by <a href="https://delapouite.com/">Delapouite</a>
  </div>
</div>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">
    <span class="game-icon game-icon-mining"></span>
    <span class="game-icon game-icon-open-book"></span>
    <span class="game-icon game-icon-hammer-nails"></span>
    <span class="game-icon game-icon-anchor"></span>
    <span class="game-icon game-icon-spyglass"></span>
    <span class="game-icon game-icon-mechanical-arm"></span>
    <span class="game-icon game-icon-trade"></span>
  </div>
  <div class="uk-card-footer">
    by <a href="https://lorcblog.blogspot.com/">Lorc</a>
  </div>
</div>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">

    <span class="game-icon game-icon-battery-minus"></span>
  </div>
  <div class="uk-card-footer">
    by <a href="https://game-icons.net/">PriorBlue</a>
  </div>
</div>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">
    <span class="game-icon game-icon-read"></span>
    <span class="game-icon game-icon-pocket-watch"></span>
  </div>
  <div class="uk-card-footer">
    by <a href="https://game-icons.net/">Skoll</a>
  </div>
</div>
<div class="uk-card uk-card-small uk-card-default">
  <div class="uk-card-body">
    <span class="game-icon game-icon-iron-hulled-warship"></span>
  </div>
  <div class="uk-card-footer">
    by <a href="https://game-icons.net/">Cathelineau</a>
  </div>
</div>
<style>
    #main .game-icon {
        font-size: 32px;
    }

    #main .uk-card {
        margin-top: 1em;
    }
</style>