<%= render partial: 'layouts/pageHeader', locals: {title: 'てすと駅舎　交易所'} %>
<div class="uk-card-default uk-margin-small-top uk-padding-small uk-padding-remove-horizontal">
  <!-- 確定ボタン -->
  <div class="uk-text-right uk-margin-small-top">
    <div class="uk-flex uk-child-width-expand@s uk-padding-small uk-padding-remove-vertical">
      <div class="aomd-card-title">
        <div>
          <p>取引結果：XXXXXXXXXX円</p>
          <p>残金　　：XXXXXXXXXX円</p>
        </div>
        <button class="aomd-button primary uk-margin-small-right">確定</button>
      </div>
    </div>
  </div>
  <!-- ここから購入 -->
  <div class="uk-flex uk-child-width-expand@s uk-padding-small uk-padding-remove-vertical">
    <!-- 左列 -->
    <div class="aomd-card-title">
      <!-- 各商品のパネル -->
      <div class="aomd-card-title">
        てすと駅舎 交易所
      </div>
      <!-- 企業選択 -->
      <div class="uk-container uk-margin-small-top uk-width-1-1@l">
        <ul id="tab01" class="uk-child-width-expand" uk-tab>
          <li class="uk-active"><a href="#">帝国重工</a></li>
          <li><a href="#">海老電</a></li>
          <li><a href="#">ヴェニス</a></li>
        </ul>
      </div>
        <% 3.times { |index| %>
        <div class="aomd-card uk-flex">
          <div>
            <!-- 画像 -->
            <p>商品<%=index + 1 %></p>
          </div>
          <div class=" uk-margin-left">
            <p>XXXXXXXXXX円/ユニット</p>
            <p class="uk-margin-small-bottom">
              購入数:&nbsp;<input type="number" size="5" value="0" class="uk-input" style="width: 5em">ユニット
            </p>
          </div>
        </div>
        <% } %>
    </div>
    <!-- 右列 -->
    <div class="uk-margin-small-left">
      <div class="aomd-card-title">
        <!-- 各商品のパネル -->
        <div class="aomd-card-title">
          ニフリー号
        </div>
        <% 3.times { |index| %>
          <div class="aomd-card uk-flex">
            <div>
              <!-- 画像 -->
              <p>商品<%=index + 1 %></p>
            </div>
            <div class=" uk-margin-left">
              <p>XXXXXXXXXX円/ユニット</p>
              <p class="uk-margin-small-bottom">
                購入数:&nbsp;<input type="number" size="5" value="0" class="uk-input" style="width: 5em">ユニット
              </p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>