<%= render partial: 'layouts/pageHeader', locals: {title: 'ターン' + @turn.to_s + ' 活動結果一覧'} %>
<div class="aomd-card">
  <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
    <caption>結果一覧</caption>
    <thead>
    <tr>
      <th class="uk-width-small">呼出符号</th>
      <th>名前</th>
      <th>所属船/現在位置</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th class="uk-width-small">呼出符号</th>
      <th>名前</th>
      <th>所属船/現在位置</th>
    </tr>
    </tfoot>
    <tbody>
    <% @characters.each do |character|
      character_id = character.character_id.id
    %>
      <tr>
        <td><%= link_to character.callsign, {controller: :result, action: :show, id: character_id} %></td>
        <td><%= link_to character.name, {controller: :result, action: :show, id: character_id} %></td>
        <td>TODO</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>