<%= render partial: 'layouts/pageHeader', locals: { title: 'ターン' + @turn.to_s + ' 活動結果' } %>
<div class="uk-margin-small-left">
  <p class="aomd-card"><%= @character.callsign %> <%= @character.name %></p>
  <div class="aomd-card">
    オリエンテーション中......
  </div>
</div>
