<%= render partial: 'layouts/pageHeader', locals: { title: 'ターン' + @turn.to_s + ' 活動結果' } %>
<div class="uk-margin-small-left">
  <p class="aomd-card"><%= @character.callsign %> <%= @character.name %></p>
  <div>
    <p class="aomd-card-title">航海日誌</p>
    <%
      if @plan == nil or @plan.daily == ""
    %><%= simple_format(t(:player_daily_not_found), { class: 'aomd-card uk-margin-remove-top' }) %>
      <%
        else
      %><%= simple_format(@plan.daily, { class: 'aomd-card uk-margin-remove-top' }) %>
    <%
      end
    %></div>

  <div>
    <h3 class="aomd-card-title">行動履歴</h3>
    <% @max_ap.times do |current_time| %>
      <div class="aomd-card aomd-timeline-header">
        <span class="game-icon game-icon-alarm-clock" style="font-size: x-large;"></span>
        <span>Time <%= current_time %></span>
      </div>
      <div class="uk-margin-small-left uk-margin-small-bottom">
        <% @ship_action_results.each do |record|
          next if record["time"] != current_time
        %>
          <div class="uk-margin-small">
            <div class="aomd-card aomd-time-row uk-padding-remove-vertical">
              <span class="game-icon game-icon-alarm-clock aomd-time">
                <span><%= format("%02d", current_time) %></span>
              </span>
              <span class="aomd-nameplate"><%= record["ship_name"] %></span>
            </div>
            <div class="aomd-card ship-action-row">
              <%= tag 'aomd-' + record.type,
                      ship_id: record["ship_id"],
                      #body_json: record["body_json"], # 冗長なので必要になるまで非表示
                      to_place: record.to_place(@sectors).to_json,
                      from_place: record.from_place(@sectors).to_json
              %>
            </div>
            <div class="aomd-card aomd-messages"></div>
          </div>
        <% end %>
        <% @character_action_results.each do |record|
          next if record["time"] != current_time
        %>
          <div class="uk-margin-small">
            <div class="aomd-card aomd-time-row uk-padding-remove-vertical">
              <span class="game-icon game-icon-alarm-clock aomd-time">
                <span><%= format("%02d", current_time) %></span>
              </span>
              <span class="aomd-nameplate"><%= @character.name %></span>
            </div>
            <div class="aomd-card ship-action-row">
              <%= tag 'aomd-' + record.type,
                      body_json: record["body_json"]
              %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
