<%= form_for :character, url: form_url do |f| %>
  <p><%= f.label "キャラクター名" %><br><%= f.text_field :name, placeholder: 'キャラクター名', required: true %></p>
  <p><%= f.label "メイン画像(横" + AoMD::Application.config.x.chara_portrait_size[:width].to_s + " x 縦" + AoMD::Application.config.x.chara_portrait_size[:height].to_s + "へリサイズされます)" %><br><%= f.file_field :portrait %></p>
  <p><%= f.label 'パーソナリティ' %><br><%= f.text_area :personalityFree, size: "40x8", class: "aomd-textarea" %></p>
  <p><%= button_tag '登録', type: 'submit', class: 'aomd-button primary' %></p>
<% end %>