<%= render partial: 'layouts/pageHeader', locals: { title: 'プロフィール' } %>
<div class="uk-grid uk-grid-small uk-margin-small-left uk-grid-match uk-grid-margin-small">
  <div class="uk-container uk-width-1-3@m uk-text-center" style="padding-right: 1em;">
    <div class="aomd-card">
      <% if @character.portrait.url %>
        <%= image_tag @character.portrait.url,
                      height: AoMD::Application.config.x.chara_portrait_size[:height],
                      width: AoMD::Application.config.x.chara_portrait_size[:width],
                      :fetch_format => :auto
        %>
      <% else %>
        <%= image_tag 'nc209713.jpg',
                      height: AoMD::Application.config.x.chara_portrait_size[:height],
                      width: AoMD::Application.config.x.chara_portrait_size[:width]
        %>
      <% end %>
    </div>
  </div>
  <div class="uk-container uk-width-2-3@m">
    <p class="aomd-card"><%= @character.callsign %> <%= @character.name %>
      現在位置: <%= @ship.current_place.place_name %></p>
    <div class="aomd-card" style="min-height: 250px;">
      <p class="uk-h4">パーソナリティ</p>
      <%= simple_format(@character.personalityFree()) %>
    </div>
  </div>
</div>
<hr><%= render partial: 'character_detail/detail_form', locals: {form_url: {controller: 'character_detail', action: 'edit'}} %>
