<h1>キャラクター新規登録</h1>
<ul uk-accordion="multiple: true">
  <li class="uk-open">
    <a class="uk-accordion-title" href="#">利用規約</a>
    <div class="uk-accordion-content">
      <p>こんな感じの規約が入る</p>
      <ol>
        <li>オリジナルキャラクターで登録する必要があるよ</li>
        <li>画像はあなたに利用権利のあるもののみが使用可能だよ</li>
        <li>ゲームの進行によって、あなたのキャラクターおよびそのアイディアがゲーム世界観に取り入れられる可能性があるよ。その場合、クレジットページに名前を掲載するよ。</li>
        <li>開発チームが法的に、あるいはゲーム上不適切と判断したコンテンツは無警告に削除する場合があるよ</li>
        <li>本ゲームをプレイすることによって万一損害が発生しても開発チームでは責任を取れないよ</li>
      </ol>
    </div>
  </li>
  <li
    <% unless chara_registered? %>class="uk-open"
    <% end %>>
    <a class="uk-accordion-title" href="#">キャラクター登録について</a>
    <div class="uk-accordion-content">
      初めて本ゲームのキャラクターを登録する場合、ソーシャルアカウントでログインするか、サインアップ画面からメールアドレスでのアカウントを作成する必要があります。
    </div>
  </li>
</ul>
<hr>
<% if chara_registered? %>
<% elsif logging_in? %>
  <%= form_with url: { controller: 'character_detail', action: 'new_regist' } do |f| %>
    <p><%= f.label "キャラクター名" %><br><%= f.text_field :name, placeholder: 'キャラクター名', required: true %></p>
    <p><%= f.label "メイン画像(" + AoMD::Application.config.x.chara_portrait_size[:height].to_s + " x " + AoMD::Application.config.x.chara_portrait_size[:width].to_s + "へリサイズされます)" %>
      <br>
      <%= f.file_field :portrait %></p>
    <p><%= f.label 'パーソナリティ' %><br><%= f.text_area :personalityFree, size: "40x8", class: "aomd-textarea" %></p>
    <p><%= f.label "船名" %><br><%= f.text_field :ship_name, placeholder: '船名', required: true %></p>
    <p><%= button_tag '登録', type: 'submit', class: 'aomd-button primary' %></p>
    <hr>
    <p><%= link_to '登録を中止してログアウトする', { controller: :logout, action: :logout }, { class: 'game-icon game-icon-exit-door' } %></p>
  <% end %>
<% else %>
  <p><%= button_to 'アカウント作成', '/auth/auth0', method: :post, class: 'uk-button game-icon uk-button-primary game-icon-archive-register' %></p>
<% end %>