<div class="aomd-card nested-fields">
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <div class="ship_action uk-grid">
    <div>
      <%= f.collection_select :place, @can_move_dest_places, :place_id, :view_name, { prompt: nil }, { class: 'uk-width-1-6@s uk-select aomd-dest-sector' } do |b| %>
        <%= b.label { b.text } %>
      <% end %>
    </div>
    <div class="aomd-move-to">座標:
      <%= f.number_field :coordinate_x, in: 0..30, step: 1, class: "uk-input uk-form-width-xsmall" %> x
      <%= f.number_field :coordinate_y, in: 0..30, step: 1, class: "uk-input uk-form-width-xsmall" %>
    </div>
    <div><span class="uk-inline"><div style="width: 6em">滞在時間</div><a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: clock"></a></span>:
      <span class="aomd-time">00</span> <%= f.range_field :wait_ap, in: 0..12, class: "uk-range aomd-wait" %></div>
    <div class="uk-width-auto action-plan-button-container">
      <%= link_to "－", '#', class: "remove_fields uk-button uk-button-small uk-button-secondary" %>
    </div>
  </div>
</div>
