<%= render partial: 'layouts/pageHeader', locals: { title: '計画画面' } %>
<%= form_for @personal_plan, url: { controller: 'personal_plan', action: 'edit' } do |f| %>
  <%= link_to "船の状況を見る", { controller: :ship_detail, action: :show, id: @current_ship.id }, class: 'aomd-button secondary' %>
  <div class="uk-container uk-margin-small-top uk-width-1-1@l">
    <div class="aomd-card-title"><%= t(:player_daily) %></div>
    <div class="aomd-card">
      <%= f.text_area :daily, size: "40x10", class: "aomd-textarea" %>
    </div>
  </div>

  <div class="uk-container uk-margin-small-top uk-width-1-1@l aomd-ship-action-plan">
    <div class="aomd-card-title">航行計画</div>
    <div class="aomd-card">
      <%= f.fields_for :ship_flight_schedules, @ship_flight_schedules do |p_action| %>
        <%= render "personal_plan/ship_flight_schedule_fields", f: p_action, dest_places: @can_move_dest_places %>
      <% end %>
      <%= link_to_add_fields "＋", f, :ship_flight_schedules %>
    </div>
  </div>

  <div class="uk-container uk-margin-small-top uk-width-1-1@l uk-padding-remove@m aomd-personal-plan-schedule-card">
    <div class="aomd-card-title">船内活動</div>
    <div class="aomd-card aomd-personal-plan-schedule"
         data-ship_id="<%= @current_ship.id %>"
         data-initial="<%= JSON.generate('action' => @personal_plan_actions, 'ship' => @ship_action_results) %>"
    ></div>
  </div>

  <div class="uk-container uk-margin-small-top uk-width-1-1@l aomd-personal-plan-schedule-card">
    <div class="aomd-card-title">近距離通信</div>
    <div class="aomd-card-body">
      <div class="aomd-telegraph-message">[]</div>
    </div>
  </div>

    <div class="uk-margin-small-top">
    <%= button_tag "送信する", type: 'submit', class: 'aomd-button primary' %>
  </div>
<% end %>