<li><%= link_to '計画画面', { controller: :personal_plan, action: :index }, { class: 'game-icon game-icon-archive-register' } %></li>
<li><%= link_to '船体設計画面', { controller: :shipyard, action: :index }, { class: 'game-icon game-icon-mechanical-arm' } %></li>
<li><span class="game-icon game-icon-trade">交易所</span></li>
<li><span class="game-icon game-icon-satellite-communication">通信</span></li>
<li><%= link_to 'キャラ編集', { controller: :character_detail, action: :current }, { class: 'game-icon game-icon-id-card' } %></li>
<li><%= link_to 'ログアウト', { controller: :logout, action: :logout }, { class: 'game-icon game-icon-exit-door' } %></li>
