<li><span class="game-icon game-icon-conqueror">はじめての方へ</span></li>
<li><span class="game-icon game-icon-public-speaker">お知らせ</span></li>
<li><span class="game-icon game-icon-newspaper">連邦ニュース</span></li>
<li><span class="game-icon game-icon-rule-book">ルール</span></li>
<li><span class="game-icon game-icon-earth-asia-oceania">世界観</span></li>
<li><%= link_to '結果一覧', { controller: :result, action: :index }, { class: 'game-icon game-icon-spyglass' } %></li>
<li><%= link_to '船長名簿', { controller: :character_detail, action: :index }, { class: 'game-icon game-icon-captain-hat-profile' } %></li>
<li><%= link_to '船舶名簿', { controller: :ship_detail, action: :index }, { class: 'game-icon game-icon-scroll-quill' } %></li>
<li><%= link_to '星図', { controller: :sector, action: :index }, { class: 'game-icon game-icon-solar-system' } %></li>