<section class="jumbotron text-center">
  <h1>Astronomy of Meteorite Diggers</h1>
  <%
    if !chara_registered?()
  %><%= button_to 'Login', '/auth/auth0', method: :post, class: 'aomd-button primary', id: 'qsLoginBtn' %>
  <% else
  %><b>ID:<%= session[:chara_id] %> でログイン中</b>
  <%
    end
  %>
  <p>べーたてすと・ばぁじょん。この宇宙の物理法則は保証されていません。あらゆる説明は欠落しています。</p>
  <ul class="uk-nav">
    <% if chara_registered? %>
    <li class="uk-nav-header">宇宙開拓</li>
    <%= render partial: 'layouts/menu/menu_logon', locals: {} %>
    <li class="uk-nav-divider"></li>
  <% end %>
    <li class="uk-nav-header">公開情報</li>
    <%= render partial: 'layouts/menu/menu_common', locals: {} %>
  </ul>
  <% if Rails.env.development? %>
    <div><h2>Auth0 認証情報</h2>
      <p>AUTH0_CLIENT_ID: <%= ENV['AUTH0_CLIENT_ID'] %></p>
      <p>AUTH0_CLIENT_SECRET: <%= ENV['AUTH0_CLIENT_SECRET'] %></p>
      <p>AUTH0_DOMAIN: <%= ENV['AUTH0_DOMAIN'] %></p>
      <p>AUTH0_AUDIENCE: <%= ENV['AUTH0_AUDIENCE'] %></p>
      <p>Server Time: <%= Time.now %></p>
      <p>Rails Time: <%= Time.current %></p>
    </div>

  <% end %>
</section>