<script lang="ts">
    import {OnePlanJSON, PersonalPlanType} from "../personal_plan";
    import {getActionComponent} from "./actionEditTrait";
    import {createEventDispatcher} from "svelte";

    const dispatch = createEventDispatcher();

    let planTypeList = Object.values(PersonalPlanType);
    export let personIndex: number;
    export let plan: OnePlanJSON;
    export let maxAp = 12;

    function changeType(e) {
        const dstType = e.target.parentNode.getAttribute("data-planType");
        if (!dstType || plan.planType === dstType) {
            return;
        }
        plan.planType = dstType as PersonalPlanType;
        plan = plan;
    }

    function onEnter() {
        dispatch('apply', {personIndex, plan});
    }
</script>
<div class="aomd-card uk-modal-body uk-position-center uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-card-title">
        行動指定
    </div>
    <div class="uk-card-body">
        <button class="uk-button uk-button-default" type="button">変更</button>
        <div uk-dropdown="pos: top-justify;">
            <ul class="uk-nav uk-dropdown-nav" on:click={changeType}>
                {#each planTypeList as planType, index}
                    <li data-planType="{planType}" class={plan.planType === planType ? "uk-active" : ""}><!-- svelte-ignore a11y-missing-attribute --><a>{index}:{planType}</a></li>
                {/each}
            </ul>
        </div>
        {plan.planType}
        <div>
            Time {plan.fromTime}
        </div>
        {#if plan.planType != PersonalPlanType.Empty}
            <div>
                使用AP: {("0" + plan.useAp).slice(-2)}
                <input type="range" min="1" step="1" max="{maxAp}" size="2"
                       class="uk-range uk-inline" bind:value="{plan.useAp}">
            </div>
        {/if}
        <svelte:component this={getActionComponent(plan.planType)} plan={plan} isEdit={true}/>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">キャンセル</button>
        <button class="aomd-button primary" type="button" on:click={onEnter}>反映</button>
    </div>
</div>
<style>
    .uk-card-body {
        padding-top: 0
    }

    .uk-modal-body {
        max-width: 350px;
    }
</style>