<script lang="ts">
    import {CommonPlan} from "../personal_plan";
    import {createEventDispatcher} from "svelte";

    const dispatch = createEventDispatcher();

    export let isEdit = false;
    export let plan: CommonPlan;
    export let personIndex: number;
</script>

{#if isEdit}
    <p>
        <span class="game-icon game-icon-factory-arm"></span>課題である模型の組み立てに取り組みます。
    </p>
{:else}
    <span><span class="game-icon game-icon-factory-arm"></span> 模型工作</span>
    <span class="uk-icon-button" uk-icon="file-edit" on:click={dispatch('edit', {personIndex, plan})}></span>
    <span class="uk-icon-button" uk-icon="trash" on:click={dispatch('delete', {personIndex, plan})}></span>
{/if}