<script lang="ts">
    import {CommonPlan} from "../personal_plan";
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();

    export let isEdit = false;
    export let plan: CommonPlan;
    export let personIndex: number;
</script>
{#if isEdit}
    <p>
        行動予定がない状態です。
    </p>
{:else}
    <div class="uk-icon-button uk-width-expand" uk-icon="plus" on:click={dispatch('edit', {personIndex, plan})}></div>
{/if}