<script lang="ts">
    import {CommonPlan} from "../personal_plan";
    import {createEventDispatcher} from "svelte";

    const dispatch = createEventDispatcher();

    export let isEdit = false;
    export let plan: CommonPlan;
    export let personIndex: number;
</script>

{#if isEdit}
    <p>factory-arm
        <span class="game-icon game-icon-sleeping-bag"></span>思い思いの方法で休憩を行い、HPを回復します。
    </p>
{:else}
    <span><span class="game-icon game-icon-sleeping-bag"></span> 休憩</span>
    <span class="uk-icon-button" uk-icon="file-edit" on:click={dispatch('edit', {personIndex, plan})}></span>
    <span class="uk-icon-button" uk-icon="trash" on:click={dispatch('delete', {personIndex, plan})}></span>
{/if}