<%= render partial: 'layouts/pageHeader', locals: { title: '船舶一覧' } %>
<div class="aomd-card">
  <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
    <caption>船舶一覧</caption>
    <thead>
    <tr>
      <th class="uk-width-small">呼出符号</th>
      <th>船名</th>
      <th>現在位置</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th class="uk-width-small">呼出符号</th>
      <th>船名</th>
      <th>現在位置</th>
    </tr>
    </tfoot>
    <tbody>
    <% @ships.each do |ship|
    %>
      <tr>
        <td><%= link_to ship.callsign, { controller: :ship_detail, action: :show, id: ship.id } %></td>
        <td><%= link_to ship.name, { controller: :ship_detail, action: :show, id: ship.id } %></td>
        <td><%= ship.sector_of_space.name %> (<%= ship.coordinate_x %>, <%= ship.coordinate_y %>)</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>