<%= render partial: 'layouts/pageHeader', locals: { title: @ship.callsign + ' ' + @ship.name } %>
<style>
    dl.ship-description-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    dl.ship-description-list > dt {
        width: 10em;
        font-weight: normal;
    }

    dl.ship-description-list > dd {
        width: calc(100% - 10em);
    }

    .aomd-crew-list {
        table-layout: fixed;
    }

    .aomd-crew-list th {
        padding: 0 0.2em;
        border-bottom: 1px solid black;
    }

    .aomd-crew-list td {
        padding: 0 0.5em;
    }
</style>
<div class="aomd-card-title">概要</div>
<div class="aomd-card">
  <div class="aomd-card-body">
    <dl class="ship-description-list">
      <dt>船籍番号</dt>
      <dd><%= @ship.callsign %></dd>
      <dt>船名</dt>
      <dd><%= @ship.name %></dd>
      <dt>現在位置</dt>
      <dd><%= link_to @ship.place_name, controller: :sector, action: :show, id: @ship.place_sector_id %></dd>
    </dl>
  </div>
</div>
<div class="aomd-card-title uk-margin-small-top">写真</div>
<div>
  <%= image_tag "nc209713.jpg", width: '350' %>
</div>
<h3 class="aomd-card-title">船員名簿</h3>
<div class="aomd-card">
  <div class="aomd-card-body">
    <p class="uk-text-small">各船員の身上書は別途資料を参照すること</p>
    <table class="aomd-crew-list">
      <thead>
      <tr>
        <th>呼出符号</th>
        <th>写真</th>
        <th>名前</th>
      </tr>
      </thead>
      <tbody>
      <% @characters.each do |character|
      %>
        <tr>
          <td><%= link_to character.callsign, { controller: :character_detail, action: :show, id: character.id } %></td>
          <td><%= image_tag "nc209713.jpg", width: 80, height: 80 %></td>
          <td><%= link_to character.name, { controller: :character_detail, action: :show, id: character.id } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="aomd-card uk-margin-medium-top">
  <div class="uk-text-large">宇宙船舶安全法第９条第１項の規定により交付する。</div>
  <div class="uk-text-small">皇紀2960年7月7日</div>
  <p class="uk-text-right@s">地球連邦宇宙船舶管理局 <%= image_tag "OMEFS-logo.png", :alt => "", :width => 80, :height => 80 %></p>
</div>