<script lang="ts">
    import {MessageList, ReplyButton} from 'sss-telegraph/src/svelte'
    import Modal from 'svelte-simple-modal'
    import {setContext, tick} from "svelte";
    import defaultCustomize from "sss-telegraph/src/helper/defaultCustomize";
    import windowCloseButton from "../parts/windowCloseButton.svelte";
    import {createEmptyMessage, Icon} from "sss-telegraph/src/@type";
    import iconStore from "sss-telegraph/src/store/iconStore";
    // サンプルアイコン(テストプレイ用)
    import Icon1 from "./../../../node_modules/sss-telegraph/public/icon/1.png";
    import Icon2 from "./../../../node_modules/sss-telegraph/public/icon/2.png";
    import Icon3 from "./../../../node_modules/sss-telegraph/public/icon/3.png";
    import Icon4 from "./../../../node_modules/sss-telegraph/public/icon/4.png";
    import Icon5 from "./../../../node_modules/sss-telegraph/public/icon/5.png";
    import Icon6 from "./../../../node_modules/sss-telegraph/public/icon/6.png";
    import Icon7 from "./../../../node_modules/sss-telegraph/public/icon/7.png";
    import Icon8 from "./../../../node_modules/sss-telegraph/public/icon/8.png";
    import Icon9 from "./../../../node_modules/sss-telegraph/public/icon/9.png";
    import Icon10 from "./../../../node_modules/sss-telegraph/public/icon/10.png";

    setContext("custom", defaultCustomize);
    setContext("speaker-id", "1");

    export let messages = [];
    let messageListEl: MessageList;

    let initIcons = [
        {url: Icon1, speaker: "1", id: "1", order: 1, name: "サンプル1"},
        {url: Icon2, speaker: "1", id: "2", order: 2, name: "夜天光研究団"},
        {url: Icon3, speaker: "1", id: "3", order: 3, name: "サンプル3"},
        {url: Icon4, speaker: "1", id: "4", order: 4, name: "サンプル4"},
        {url: Icon5, speaker: "1", id: "5", order: 5, name: "サンプル5"},
        {url: Icon6, speaker: "1", id: "6", order: 6, name: "サンプル6"},
        {url: Icon7, speaker: "1", id: "7", order: 7, name: "サンプル7"},
        {url: Icon8, speaker: "1", id: "8", order: 8, name: "サンプル8"},
        {url: Icon9, speaker: "1", id: "9", order: 9, name: "サンプル9"},
        {url: Icon10, speaker: "1", id: "10", order: 10, name: "サンプル10"},
    ] as Icon[]
    iconStore.update(() => initIcons);

    function addMessage() {
        const newMessage = createEmptyMessage();
        messages[messages.length] = newMessage;
        tick().then(() => {
            messageListEl.select(newMessage.id);
        });
    }
</script>
{#if messages.length}
    <Modal closeButton={windowCloseButton}>
        <MessageList bind:this={messageListEl} {messages}/>
    </Modal>
{:else}
    <ReplyButton on:reply={addMessage}/>
{/if}
<style lang="scss" global>
  @import "../../../node_modules/sss-telegraph/public/global";
  @import "../../../app/assets/stylesheets/telegraph";
</style>