<script lang="ts">
    import {
        AomdApplyEvent,
        CommonPlan,
        createShipResultTag,
        EmptyPlan,
        MAX_AP,
        PersonalPlanJSON,
        PersonalPlansViewModel
    } from "./personal_plan";
    import {getActionComponent} from "./action/actionEditTrait";

    import {onMount} from "svelte";
    import {flip} from 'svelte/animate';
    import ActionEditDialog from "./action/actionEditDialog.svelte";
    import type {ShipResultRecord} from "result/component_base";

    export const shipId: number = -1;
    export let personalPlanList: PersonalPlanJSON[] = [];
    export let shipResults: ShipResultRecord[] = [];
    export let design: number = 1;

    let PlanView: PersonalPlansViewModel[] = personalPlanList.map(PersonalPlansViewModel.make);
    const show_columns = personalPlanList.length + 1;

    let rootEl;
    let dialogEl;
    let dialogComponent;
    let dialogModal;

    onMount(async function () {
        dialogModal = window.UIkit.modal(dialogEl, {});
        dialogComponent = new ActionEditDialog({
            target: dialogEl,
            props: {
                plan: {}
            }
        });
        dialogComponent.$on("apply", update);
    });

    let onEnterActionId: string;
    let dragTargetList: number;
    let dragTargetPlan: CommonPlan;

    function openEdit(e: CustomEvent) {
        dialogComponent.$set(e.detail);
        dialogModal.show();
    }

    function deletePlan(e: AomdApplyEvent) {
        PlanView[e.detail.personIndex].updatePlan(new EmptyPlan(e.detail.plan.useAp, e.detail.plan.fromTime));
        PlanView = PlanView;
    }

    function update(e: AomdApplyEvent) {
        PlanView[e.detail.personIndex].updatePlan(e.detail.plan);
        PlanView = PlanView;
        dialogModal.hide();
    }

    function onDragstart(listIndex: number, plan, event: DragEvent) {
        event.dataTransfer.effectAllowed = "copyMove";
        dragTargetList = listIndex;
        dragTargetPlan = plan;
        // dragoverで使うために変数に入れちゃってるのであまり意味はないが、必須項目なので入れる
        event.dataTransfer.setData("text/plain", listIndex + "," + dragTargetPlan.fromTime);
    }

    function onDropList(targetListFromTime, targetPlanFromTime, event: DragEvent) {
        onEnterActionId = "";
        event.preventDefault();
        event.dataTransfer.dropEffect = "move";
        const targetList = PlanView[dragTargetList];
        const startPlanFromTime = dragTargetPlan.fromTime;
        if (targetList.changeItem(startPlanFromTime, targetPlanFromTime)) {
            PlanView = PlanView
        }
    }

    function onDragenter(targetListIndex, targetPlanFromTime, event: DragEvent) {
        onEnterActionId = targetListIndex + "," + targetPlanFromTime;
    }

    function onDragover(targetListIndex, targetPlanFromTime, event: DragEvent) {
        if (dragTargetPlan.fromTime == targetPlanFromTime || targetPlanFromTime + dragTargetPlan.useAp > MAX_AP) {
            return;
        }
        if (dragTargetList == targetListIndex || targetListIndex < 0) {
            event.preventDefault();
        }
    }

    let updateJson;
    $: updateJson = JSON.stringify(PlanView)
</script>
<div bind:this={dialogEl} class="uk-flex-top" uk-modal></div>
<label><input type="checkbox" bind:checked={design}>表示タイプ切り替え</label>
{#if design}
    <div bind:this={rootEl}>
        {#each new Array(MAX_AP) as _, i}
            <div uk-grid="margin: uk-grid-margin-small " class="aomd-card uk-grid-match uk-margin-remove"
                 on:drop={onDropList.bind(null, -2, i)}
                 on:dragenter={onDragenter.bind(null, -2, i)}
                 on:dragover={onDragover.bind(null, -2, i)}
                 class:is-active={onEnterActionId === "-2," +i}
            >
                <div class="time-column uk-visible@m">
                    <span class="game-icon game-icon-alarm-clock aomd-time">
                        <span>{ ("0" + i).slice(-2) }</span>
                    </span>
                </div>
                <div uk-grid="margin: uk-grid-margin-small" class="uk-grid-match uk-grid-collapse plan-column">
                    <div class="aomd-card uk-width-2-5 uk-width-1-5@m">
                        <span class="game-icon game-icon-alarm-clock aomd-time uk-hidden@m">
                            <span>{ ("0" + i).slice(-2) }</span>
                        </span>
                        航行結果
                    </div>
                    <div class="aomd-card ship-results uk-width-3-5 uk-width-4-5@m">
                        {@html createShipResultTag(shipResults, i, false)}
                    </div>
                    {#each PlanView as oneView, listIndex}
                        <div class="aomd-card uk-width-2-5">{oneView.dno}<br>{oneView.name}</div>
                        <div class="action-column uk-width-3-5">
                            {#each oneView.viewPlans.filter(plan => plan.fromTime <= i && plan.fromTime + plan.useAp > i) as plan, planIndex (plan)}
                                <div class="aomd-card schedule-action"
                                     animate:flip="{{duration: 200}}">
                                    <svelte:component this={getActionComponent(plan.planType)}
                                                      plan="{plan}"
                                                      personIndex="{listIndex}"
                                                      on:edit={openEdit}
                                                      on:delete={deletePlan}
                                    />
                                </div>
                            {/each}
                        </div>
                    {/each}
                </div>
            </div>
        {/each}
        <input name="personal_plan_json" type="hidden" value={updateJson}/>
    </div>
{:else}
    <div class="uk-flex uk-child-width-1-{show_columns}" bind:this={rootEl}>
        <div class="basic-column" uk-grid>
            <div class="time-column" style="width: 3.5rem;">
                <div class="schedule-name-row">&ensp;</div>
                {#each new Array(MAX_AP) as _, i}
                    <div class="aomd-card schedule-row-1"
                         on:drop={onDropList.bind(null, -2, i)}
                         on:dragenter={onDragenter.bind(null, -2, i)}
                         on:dragover={onDragover.bind(null, -2, i)}
                         class:is-active={onEnterActionId === "-2," +i}
                    >
                <span class="game-icon game-icon-alarm-clock aomd-time">
                    <span>{ ("0" + i).slice(-2) }</span>
                </span>
                    </div>
                {/each}
            </div>
            <div class="uk-width-expand ship-column">
                <div class="aomd-card schedule-name-row">航行結果</div>
                {#each new Array(MAX_AP) as _, i}
                    <div class="aomd-card schedule-row-1 ship-results"
                         on:drop={onDropList.bind(null, -1, i)}
                         on:dragenter={onDragenter.bind(null, -1, i)}
                         on:dragover={onDragover.bind(null, -1, i)}
                         class:is-active={onEnterActionId === "-1," + i}
                    >
                        {@html createShipResultTag(shipResults, i, false)}
                    </div>
                {/each}
            </div>
        </div>
        {#each PlanView as oneView, listIndex}
            <div class="uk-flex-column uk-width-1-{show_columns}">
                <div class="aomd-card schedule-name-row">{oneView.dno} {oneView.name}</div>
                <div class="action-column">
                    {#each oneView.viewPlans as plan, planIndex (plan)}
                        <div class="aomd-card schedule-action schedule-row-{plan.useAp}"
                             animate:flip="{{duration: 200}}"
                             draggable="true"
                             on:drop={onDropList.bind(null, listIndex, plan.fromTime)}
                             on:dragstart={onDragstart.bind(null, listIndex, plan)}
                             on:dragenter={onDragenter.bind(null, listIndex, plan.fromTime)}
                             on:dragover={onDragover.bind(null, listIndex, plan.fromTime)}
                             class:is-active={onEnterActionId === listIndex + "," + plan.fromTime}
                        >
                            <svelte:component this={getActionComponent(plan.planType)}
                                              plan="{plan}"
                                              personIndex="{listIndex}"
                                              on:edit={openEdit}
                                              on:delete={deletePlan}
                            />
                        </div>
                    {/each}
                </div>
            </div>
        {/each}
        <input name="personal_plan_json" type="hidden" value={updateJson}/>
    </div>
{/if}
<style lang="scss">
  .basic-column {
    margin-left: 0;
  }

  .time-column, .ship-column {
    padding-left: 0;
  }

  @media only screen and (max-width: 959px) {
    .plan-column {
      width: 100%;
    }
  }

  @media only screen and (min-width: 960px) {
    .time-column {
      width: 2.5rem;
    }
    .plan-column {
      width: calc(100% - 2.5rem);
      padding-left: 0;
    }
  }

  .plan-column {
    padding-left: 0;
  }

  .schedule-name-row {
    height: 4.5ex;
    margin-left: 0.1ex;
    box-sizing: border-box;
    vertical-align: center;
  }

  .is-active {
    background-color: #3273dc;
    color: #fff;
  }

  .ship-results {
    display: flex;
  }

  .aomd-time:after {
    content: ''
  }

  @for $useAp from 1 through 12 {
    .schedule-row-#{$useAp} {
      height: 6.5ex * $useAp + 0.5ex * ($useAp - 1);
      margin-top: 0.5ex;
      margin-left: 0.1ex;
      box-sizing: border-box;
      vertical-align: top;
    }
  }
</style>