<%= aomd_stylesheet_link_tag 'shipyard' %>
<%= render partial: 'layouts/pageHeader', locals: { title: '船体設計' } %>
<%= render partial: 'layouts/shipHeader', locals: { ship: @ship } %>
<div uk-grid class="uk-margin-small-top uk-grid-small">
  <div class="uk-width-1-2@m uk-text-center" style="">
    <div class="aomd-card-title">ステータス表示</div>
    <div class="aomd-card">
      <div id="aomd-status-list"></div>
      <div class="uk-text-right uk-margin-small-top">
        <button type="submit" form="shipyard-edit-form" class="aomd-button primary uk-margin-small-right" id="sendShipYard">確定</button>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@m uk-text-center uk-flex-first">
    <div class="aomd-card-title">フィルター設定</div>
    <div class="aomd-card">
      <button type="button" class="aomd-button primary" uk-toggle="target: #aomd-filter">開く</button>
    </div>
  </div>
</div>
<div id="aomd-filter" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
    <div id="aomd-filter-setting-panel"></div>
  </div>
</div>
<div class="aomd-card uk-margin-small-top uk-padding-small uk-padding-remove-horizontal">
  <div class="uk-flex uk-child-width-expand@s uk-padding-small uk-padding-remove-vertical">
    <div>
      <div class="aomd-card-title">
        地球ステーション ガレージヤード
      </div>
      <div class="aomd-card uk-margin-small-left">
        <div id="aomd-shipyard-list" data-list="<%= @shipyard_sell_list %>"></div>
      </div>
    </div>
    <div class="uk-margin-small-left">
      <div class="aomd-card-title">
        <%= @ship.name %>
      </div>
      <div class="aomd-card uk-margin-small-left">
        <%= form_tag({ controller: 'shipyard', action: 'edit'}, method: 'post', id: "shipyard-edit-form") do |t| %>
          <div id="aomd-ship-list" data-list="<%= @ship_parts_list %>"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>