<script lang="ts">
    import "./ship_components";
    import aomd from "./ship_component_enum";
    import {createEventDispatcher} from "svelte";

    export let component_type: number[];
    export let manufacture: aomd.Manufacturer[];

    function uncheckedAll() {
        component_type = [];
        manufacture = [];
    }

    const dispatch = createEventDispatcher();

    function enter() {
        dispatch("aomd-filter-setting", {
            component_type: component_type,
            manufacture: manufacture
        });
    }

    // 暫定　全部出しても対応パーツがないし
    const TARGET_MANUFACTURE = [aomd.Manufacturer.IHI, aomd.Manufacturer.EDK, aomd.Manufacturer.EWR, aomd.Manufacturer.NGA];
</script>
<h2 class="uk-modal-title">フィルター設定</h2>
<div>
    <h3>製造元</h3>
    {#each TARGET_MANUFACTURE as rawManufacture}
        <label><input type=checkbox bind:group={manufacture} value="{rawManufacture}"
                      checked="{manufacture.includes(rawManufacture)}">{aomd.Manufacturer.toFullName(rawManufacture)}
        </label>
    {/each}
    <h3>種別</h3>
    {#each Array(aomd.ComponentType.MAX_TYPE) as _, i}
        <label><input type=checkbox bind:group={component_type} value="{i+1}"
                      checked="{component_type.includes(i+1)}">{aomd.ComponentType.toName(i + 1)}</label>
    {/each}
    <h3>オプション</h3>
    <label><input type=checkbox name="can_buy" value="1" disabled>購入可能品のみ</label>
    <label><input type=checkbox name="rank" value="1" disabled>等級が現在以上</label>
    <label><input type=checkbox name="" value="1" disabled checked>設備互換性を満たしている</label>
</div>
<div class="uk-modal-footer">
    <button type="button" class="uk-button uk-modal-close uk-button-primary" on:click={enter}>設定</button>
    <button type="button" class="uk-button" on:click={uncheckedAll}>全解除</button>
    <button type="button" class="uk-button uk-modal-close uk-button-secondary">キャンセル</button>
</div>
