<script lang="ts">
    import shipEnum from "./ship_component_enum";

    export let params: shipEnum.outputTotal;
</script>
<style>
    .uk-grid > div {
        white-space: nowrap;
    }
</style>
<div uk-grid class="uk-flex uk-grid-small">
    <div>推進力:{ params.propulsion }</div>
    <div>総質量:{ params.mass }</div>
    <div>燃料容量:{ params.fuel }</div>
    <div>貨物容量:{ params.cargo }</div>
    {#if params.mining }
        <div>採掘性能:{ params.mining }</div>
    {/if}
    {#if params.shield }
        <div>防御力場:{ params.shield }</div>
    {/if}
    <div>動力炉出力:{ params.output_energy }</div>
    <div>最大消費出力:{ params.input_energy }</div>
    <div>合計金額: {params.money}円</div>
</div>
