<script lang="ts">
    import ShipComponent from './ship_component.svelte';
    import ShipComponentEnum from "./ship_component_enum"

    type ComponentJson = ShipComponentEnum.ComponentJson;
    export let component_lists: ShipComponentEnum.ComponentsJSON;
    export let own: boolean;

    let show_list = component_lists.component_list;
    $: show_list = component_lists.component_list.sort((a: ComponentJson, b: ComponentJson) => {
        if (a.type === b.type) {
            return 0;
        }
        return a.type > b.type ? 1 : -1;
    });
</script>

<div class="uk-margin-small-left">
{#each show_list as component, index}
    <ShipComponent component_json={component} own={own} on:aomd-shop-action/>
{/each}
</div>
{#if own}
    <input type="hidden" name="ship_plan"
           value="{JSON.stringify(show_list, ['id', 'ship_parts_id', 'power_priority', 'sell'])}">
{/if}