<script lang="ts">
    import "./ship_components";
    import ShipComponent from "./ship_component_enum"
    import {createEventDispatcher} from "svelte";
    import {fade, scale} from 'svelte/transition';

    export let component_json: ShipComponent.ComponentDisplay;
    export let own: boolean;

    const dispatch = createEventDispatcher();

    function buy(e: Event) {
        e.preventDefault();
        dispatch("aomd-shop-action", {
            type: "buy",
            item: component_json
        });
    }

    function sell(e: Event) {
        e.preventDefault();
        dispatch("aomd-shop-action", {
            type: "sell",
            item: component_json
        });
    }

    function req_delete(e: Event) {
        e.preventDefault();
        dispatch("aomd-shop-action", {
            type: "delete",
            item: component_json
        });
    }
</script>
<div class="aomd-card uk-margin-small-bottom {component_json.cancelable ? 'changed-card': ''}" transition:fade>
    <div>
        <p>{component_json.name}</p>
    </div>
    <div class="uk-flex">
        <div class="uk-width-1-5@l">
            <p>種別:{component_json.type}</p>
            <p>価格:{component_json.price}円</p>
        </div>
        <div class="uk-margin-left uk-width-2-5@l">
            <p>製造元:{ShipComponent.Manufacturer.toFullName(component_json.manufacturer)}</p>
        <p>消費/生成エネルギー:{component_json.input_energy}</p>
    </div>
    <div class="uk-margin-left uk-width-1-5@l">
        <p>質量:{component_json.mass}</p>
        <p>HP:{component_json.hp}</p>
    </div>

    {#if component_json.cancelable}
        <div class="uk-margin-left uk-text-middle uk-width-1-5@s">
            <button class="aomd-button primary" on:click={req_delete}>撤回</button>
        </div>
    {/if}
    {#if !component_json.cancelable}
    {#if own}
        <div class="uk-margin-left uk-text-middle uk-width-1-5@s">
            <button class="aomd-button primary" on:click={sell}>売却</button>
        </div>
    {/if}
    {#if !own}
        <div class="uk-margin-left uk-text-middle uk-width-1-6@s">
            <button class="aomd-button primary" on:click={buy}>購入</button>
        </div>
    {/if}
    {/if}
    </div>
</div>