@import "../../vendor/assets/stylesheets/uikit";

#page {
  background-color: #FFF8E7;
  padding-top: 0.1em;
  padding-bottom: 20px;
}

#foot {
  text-align: center;
}

#menu {
  padding-left: 3em;
  padding-right: 1em;
  padding-top: 0.5em;
  z-index: 10000;
}

.uk-card {
  padding: 10px;
}

.uk-card-title {
  width: min-content;
  white-space: nowrap;
  padding: 0 1em;
  margin-bottom: 8px;
}

textarea {
  resize: vertical;
}

.uk-card textarea, .uk-card select {
  box-sizing: border-box;
  width: 100%;
}

.changed-card {
  border: 1px solid orangered;
}

.aomd-header {
  @extend .uk-h2;
}

.aomd-button {
  @extend .uk-button;
}

.aomd-button.primary {
  @extend .uk-button-primary
}

.aomd-button.secondary {
  @extend .uk-button-secondary
}

.aomd-button.small {
  @extend .uk-button-small
}

.aomd-card {
  @extend .uk-card;
  @extend .uk-card-default;
}

.aomd-card-body {
  @extend .uk-card;
  @extend .uk-card-body;
}

.aomd-card-title {
  @extend .uk-card;
  @extend .uk-card-default;
  @extend .uk-card-title;
}

.aomd-textarea {
  @extend .aomd-textarea;
}

#main.uk-container .game-icon.aomd-time {
  position: relative;
  font-size: x-large;
}

.aomd-time:after {
  content: ':';
  width: 0.5em;
  display: inline-block;
  text-align: center;
}

.time-column .aomd-time:after {
  content: '';
}

.aomd-time > span {
  position: absolute;
  left: 1.2em;
  color: blue;
  font-weight: bolder;
  font-size: small;
  top: 1em;
}

#main .game-icon {
  font-size: larger;
}

#main .uk-accordion-title {
  border-bottom: 1px dashed black
}

#qsLoginBtn {
  color: #DA7D02
}

@media only screen and (max-width: 960px) {
  .aomd-logo {
    width: 35%;
    min-width: 250px;
    margin: 0 auto;
    display: block;
  }

  #main {
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .aomd-time {
    width: 2rem;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 0.3rem;
  z-index: 1000;
}

#menu.open {
  position: sticky;
  top: 0;
  background-color: #FFF8E7;
  padding-top: 2.5rem;
}

#menu.open > .aomd-logo, #menu.open > p {
  display: none;
}

.open > .hamburger + div {
  transition: all 0.5s;
  display: block !important;
}

@import "result.scss";
