// Place all the styles related to the personal_plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media only screen and (max-width: 959px) {
  .aomd-personal-plan-schedule {
    padding: 0;
  }
}