// Place all the styles related to the result controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ship-action-row {
  display: flex;
  align-items: center;
}

.aomd-timeline-header {
  display: inline-flex;
  align-items: center;
}

.aomd-time-row {
  display: flex;
  align-items: baseline;
  width: fit-content;
}

.aomd-messages > button {
  margin-left: 90%;
  font-size: x-large;
}