// Place all the styles related to the Shipyard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#aomd-filter-setting-panel > div > label {
  white-space: nowrap;
  overflow-wrap: break-word;
}