@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.eot?1mnwl');
    src: url('/assets/fonts/icomoon.eot?1mnwl#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?1mnwl') format('truetype'),
    url('/assets/fonts/icomoon.woff?1mnwl') format('woff'),
    url('/assets/fonts/icomoon.svg?1mnwl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.select-icon > i, .icon-delete, .icon-reply, .icon-checkmark {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
    content: "\e96d";
}

.select-icon > i:before {
    content: "\ea10";
    font-size: 3em;
    color: lightgreen;
}

.icon-delete:before {
    content: "\e9ad";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-images:before {
    content: "\e90e";
}

.icon-file-picture:before {
    content: "\e927";
}

.icon-bin2:before {
    content: "\e9ad";
}

.icon-menu2:before {
    content: "\e9be";
}

.icon-move-up:before {
    content: "\ea46";
}

.icon-move-down:before {
    content: "\ea47";
}

img.telegraph-icon {
    width: 60px;
    height: 60px;
}
