<tr>
  <td><%= link_to sector_row.name, { controller: :sector, action: :show, id: sector_row.id } %></td>
  <td><%= sector_row.sector_stations.count %></td>
  <td><%= ship_in_sector[sector_row.id] %></td>
</tr>