<%= render partial: 'layouts/pageHeader', locals: { title: '星図' } %>
<div class="aomd-card">
  <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
    <caption>太陽系</caption>
    <colgroup>
      <col style="min-width: 50%">
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th>宙域名</th>
      <th>空間施設</th>
      <th>航行船数</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>宙域名</th>
      <th>空間施設</th>
      <th>航行船数</th>
    </tr>
    </tfoot>
    <tbody>
    <%= render partial: "sector_row", collection: @all_reported_sector, locals: { ship_in_sector: @ship_in_sector } %>
    </tbody>
  </table>
</div>