<h1>宙域情報:<%= @sector.name %></h1>
<div class="aomd-card">
  <div id="sectorMap" data-sector-map="<%= @sector_map_json.to_json %>"></div>
</div>
<div class="aomd-card uk-margin-small-top">
  <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
    <caption>空間施設</caption>
    <thead>
    <tr>
      <th>施設名</th>
      <th class="uk-width-small">座標</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>施設名</th>
      <th>座標</th>
    </tr>
    </tfoot>
    <tbody>
    <%= render partial: "station_row", collection: @sector.sector_stations %>
    </tbody>
  </table>
</div>