<div class="aomd-card uk-text-middle">
  <%= @ship.ship_emblem_html %>
  <div class="uk-display-inline uk-text-middle" style="font-size: x-large;line-height: 100px">
    <%= @ship.callsign %> <%= @ship.name %>
  </div>
</div>