<%
  sector = @sectors.find {|sector| sector["id"] === sector_id}
  if station_id
    station = sector.stations.find(station_id)
%>
<%= station.name %>(<%= x %>, <%= y %>)
<% else %>
<%= sector.name %>(<%= x %>, <%= y %>)
<% end %>