<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title>AoMD-front</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="//cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js" defer></script>
  <script src="//cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js" defer></script>
  <%= aomd_stylesheet_link_tag 'application', media: 'all' %>
  <%= aomd_stylesheet_link_tag 'game-icons', media: 'all' %>
  <%= aomd_stylesheet_link_tag "#{params[:controller]}/#{params[:action]}", media: 'all' if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.css") %>
  <%= aomd_javascript_include_tag 'application', 'defer': 'true' %>
  <%= aomd_javascript_include_tag "#{params[:controller]}/#{params[:action]}", 'defer': 'true' if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>
</head>

<body>
<div id="page" class="uk-grid">
  <div id="menu" class="uk-container uk-width-1-5@m">
    <div class="aomd-logo">
      <a href="/"><%= image_tag("logo.png", :alt => "隕石堀り達の星学", :width => '100%', :fetch_format => :auto) %></a></div>
    <p>No Karate, No Ninja</p>
    <div uk-icon="icon: menu; ratio: 2" class="hamburger uk-icon-link uk-icon-button uk-hidden@m"></div>
    <div uk-sticky="media: @m" class="uk-visible@m">
      <nav class="aomd-card">
        <ul class="uk-nav">
          <%= render partial: 'layouts/menu/menu_common', locals: {} %>
        </ul>
      </nav>
      <nav class="aomd-card uk-margin-small-top">
        <ul class="uk-nav">
          <% if chara_registered? %>
            <%= render partial: 'layouts/menu/menu_logon', locals: {} %>
          <% else %>
            <li><%= link_to '新規登録', { controller: :character_detail, action: :new }, { class: 'game-icon game-icon-archive-register' } %></li>
            <% if logging_in? %>
              <li><%= link_to 'ログアウト', { controller: :logout, action: :logout }, { class: 'game-icon game-icon-exit-door' } %></li>
            <% else %>
              <li><label class="game-icon game-icon-entry-door uk-link" style="display: flex;">
                <%= button_to 'ログイン', '/auth/auth0', method: :post, class: 'uk-button uk-button-link', id: 'qsLoginBtn' %>
              </label></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div id="main" class="uk-container uk-width-4-5@m">
    <%= yield %>
  </div>
</div>
<footer id="foot">
  <div><%= link_to 'Credit', { controller: :static_pages, action: :credit } %></div>
  <div> ©Steam Spirit Studio 2020-2023</div>
</footer>
</body>
</html>
